@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,600,800|Lobster+Two:400,400i,700,700i&display=swap');

/* General */
html, body {
    font-family: "Dosis";
    font-size: 17px;
}

h1, h2 {
    font-family: "Lobster Two";
    color: #C0E5DE;;
    text-shadow: 3px 3px #56646B;
}

h3 {
    margin: 30px 0;
}

p {
    margin: 30px 0;
    padding: 0 30;
    font-size: 1.1rem;
}

/* a {
    margin: 0;
    padding: 0;
} */

/* Background */
.bg-green {
    background-color: #C0E5DE;
    color: #56646B;
    border-bottom: 3px solid #F6EDD9;
}

.bg-dark {
    background-color: #56646B;
    color: #F6EDD9;
}

.bg-red {
    background-color: #F46667;
    color: #F6EDD9;
}

.bg-cream {
    background-color: #F6EDD9;
    color: #56646B;
}

/* NAVBAR */
.logo {
    font-family: "Lobster Two";
    font-weight: 400;
    font-style: italic;
    color: #56646B;
    text-shadow: 2px 2px #F6EDD9;
}

.navbar {
    color: #56646B;
    font-weight: 600;
    font-family: 'Lobster Two';
    margin: 0 10px;
}

header {
    width: 100%;
    position: fixed;
    z-index: 100;
}



/* Bootstrap arranges */
.navbar-nav .nav-item{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
}

.navbar-nav .nav-item .selected {
    color: #56646B;
}

.navbar-nav .nav-item .nav-link:hover{
    font-size: 1.1rem;
    -webkit-transition-duration: 0.3s;
    color: #F46667;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color:  #F46667;
}

.navbar-toggler {
    border: none;
    margin: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("/img/ham-menu-dark.svg");
}

.navbar-light .navbar-toggler-icon:hover {
    background-image: url("/img/ham-menu-red.svg");
    -webkit-transition-duration: 0.3s;
}
/* /bootstrap END */



/* ANIMATIONS */
/* Animation Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #F46667;
  }


/* Section Welcome */
#first-section {
    padding-top: 71px;
}

#first-section article {
    padding: 70px 20px 40px 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
}
#first-section h1, h2 {
    text-align: center;
}
#first-section p , h3 {
    text-align: justify;
}

#palomitera {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 70px 20px 40px 20px;
}

#steps {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    align-items: center;
    text-align: center;
}

#steps span {
    font-family: 'lobster two';
    color: #C0E5DE;
    text-shadow: 2px 2px #56646B;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 10px 0;
}

span.logo {
    font-size: 70px;
    text-decoration: underline #C0E5DE dotted;
    
    
}


/* Footer */
footer {
    height: 100%;
    border-top: 3px solid #C0E5DE;
}
footer > div {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

/* Media queries */
@media (min-width: 992px) {
    .navbar-expand-lg {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }