@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,600,800|Lobster+Two:400,400i,700,700i&display=swap');

/* General */

html, body {
    font-family: "Dosis";
    font-size: 17px;
    cursor:url(../img/cursor-palomita.gif), pointer;
}

html, body {
  height: 100%;
}

/* Footer */
footer {
    border-top: 3px solid #C0E5DE;
    padding: 20px;
    font-size: 0.5rem;
    height: 10%;
}
footer > div {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.agradecimientos {
    text-align: end;
}
  


h1, h2 {
    font-family: "Lobster Two";
    color: #C0E5DE;;
    text-shadow: 3px 3px #56646B;
}

h3 {
    margin: 30px 0;
}

p {
    margin: 30px 0;
    padding: 0 30;
    font-size: 1.1rem;
}

h5 {
    font-size: 15px;
}

/* Background */
.bg-green {
    background-color: #C0E5DE;
    color: #56646B;
}
header.bg-green {
    border-bottom: 3px solid #F6EDD9;
}

.bg-dark {
    background-color: #56646B;
    color: #F6EDD9;
}

.bg-red {
    background-color: #F46667;
    color: #F6EDD9;
}

.bg-cream {
    background-color: #F6EDD9;
    color: #56646B;
}

/* NAVBAR */
.logo {
    font-family: "Lobster Two";
    font-weight: 400;
    font-style: italic;
    color: #56646B;
    text-shadow: 2px 2px #F6EDD9;
    min-width: 50%;
    max-width: 100%;
    padding-top: 9px;
}

.navbar {
    color: #56646B;
    font-weight: 600;
    font-family: 'Lobster Two';
    margin: 0;
}

header {
    width: 100%;
    position: fixed;
    z-index: 100;
}



/* Bootstrap arranges */
.navbar-nav .nav-item{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.navbar-nav .nav-item .selected {
    color: #56646B;
}

.navbar-nav .nav-item .nav-link:hover{
    font-size: 1.1rem;
    -webkit-transition-duration: 0.3s;
    color: #F46667;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color:  #F46667;
}

.navbar-toggler {
    border: none;
    margin: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: image("img/ham-menu-dark.svg");
}

.navbar-light .navbar-toggler-icon:hover {
    background-image: image("img/ham-menu-red.svg");
    -webkit-transition-duration: 0.3s;
}
/* /bootstrap END */



/* ANIMATIONS */
/* Animation Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #F46667;
}
/* Animation pulsate */
.pulsate-bck {
    -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
    animation: pulsate-bck 1s ease-in-out infinite both;
}
/* Animation blurred */
.slide-in-blurred-bottom {
	-webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}


/* bg-red */
.first-section {
    padding-top: 81px;
}

.first-section article {
    padding: 40px 10px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.first-section h1, h2 {
    text-align: center;
}
.first-section p , h3 {
    text-align: justify;
}

#palomitera {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 40px 10px;
}

#palomitera h3 {
    margin-top: 30px;
}

.steps {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    align-items: center;
    text-align: center;
}

.steps span {
    font-family: 'lobster two';
    color: #C0E5DE;
    text-shadow: 2px 2px #56646B;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 10px 0;
}

span.logo {
    font-size: 70px;
    text-decoration: underline #C0E5DE dotted;
    
    
}

.palomitas-caen {
    display: flex;
    flex-direction: column;
}


 @-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


/* bg-dark login */
.title-login p {
    text-align: center;
  } 
  
.title-login h2 {
    margin: 0;
    padding: 30px 0 0 0;
    text-align: center;
}
    div#mensaje-success {
    font-size: 1.5rem;
    padding: 10px 0;
    text-align: center;
    ;
}

.first-section.bg-dark main {
     padding: 5% 10px;
     display: flex;
     flex-direction: column;
     align-content: space-between;
     align-items: center;
}
/* bg-green signup */
.first-section.bg-green main {
    padding: 5% 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.bg-dark .email-pass > label {
    font-family: 'lobster two';
    font-size: 1.3rem;
    color: #F6EDD9;
    text-indent: 0.2rem;
    padding: 20px 0 5px 0;
    text-decoration-line: underline;
}

.bg-green .email-pass > label {
    font-family: 'lobster two';
    font-size: 1.3rem;
    color: #56646B;
    text-indent: 0.2rem;
    padding: 20px 0 5px 0;
    text-decoration-line: underline;
}

.form-group small {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    margin-top: 10px;
}


.submit-check {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-check > label {
    font-family: 'dosis';
}

.submit-check div {
    margin-top: 20px;
}

.btn {
    padding: 10px 100px;
}

/* bootstrap arranges */

.bg-dark .btn-submit {
    color: #F6EDD9;
    background-color: transparent;
    border-color: #F6EDD9;
    font-family: 'dosis';
    font-weight: 300;
  }
  
.bg-dark .btn-submit:hover {
    color: #56646B;
    background-color: #C0E5DE;
    border-color: #F6EDD9;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.bg-green .btn-submit {
    color: #56646B;
    background-color: transparent;
    border-color: #F6EDD9;
    font-family: 'dosis';
    font-weight: 300;
}
  
.bg-green .btn-submit:hover {
    color: #F6EDD9;
    background-color: #F46667;
    border-color: #F6EDD9;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.first-section.bg-green h2 {
    color: #F46667;;
    text-shadow: 2px 2px #56646B;
}

/* mensajes */
.error {
    text-justify: center;
    align-items: center;
    text-align: center;

}

#mensaje-success {
    font-size: 40px;
    color:  #F6EDD9;
    font-family: 'lobster two';
    text-align: center;
}

#mensaje-error {
    font-size: 35px;
    color:  #F46667;
    font-family: 'lobster two';
    text-align: center;
}
/* movie */
/* bg-dark movie */
#movie-section.bg-dark {
    padding: 61px 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    border-bottom: 9px solid#F6EDD9;
}

#movie-section .title-login{
    padding-top: 10%;

}

#movie-section.bg-dark h2 {
    color: #F46667;
    text-shadow: 2px 2px #C0E5DE;
    font-size: 55px;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    padding-top: 20px;
}

#movie-section img {
    background: url('http://image.tmdb.org/t/p/w185//${movie.poster_path}') no-repeat;
    background-size: 0;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 550px;
    align-items: center;
}

#movie-section.bg-dark h4 {
    font-size: 45px;
    padding-top: 30px;
    color: #C0E5DE;
}

article#movie {
    padding: 5% 0 5% 0;
}

.recipe-label {
    text-align: center;
    margin-top: 0;
}

#recipe #recipe-label > img {
    background: url('${recipe.image}') no-repeat;
    background-size: 3px;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

article#recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0px 10px;
}

#palomitera.result-page {
    margin: 0;
    padding: 0 inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#recipe-section p {
    text-align: center;
}

div#palomitera.result-page {
    padding-top: 0;
    padding-bottom: 0;
}

div#palomitera > h3 {
    text-align: center;
}

div#recipe-section {
    margin-bottom: 90px;
}



/* Media queries */
@media (min-width: 992px) {
    .navbar-expand-lg {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
}
